* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

@font-face {
  font-family: KosugiMaruRegular;
  src: url('/assets/KosugiMaru-Regular.ttf') format('truetype');
}
